:root {
  --primary-bg-color: #111827;
  --secondary-bg-color: #f5f5f5;
  --primary-text-color: #000;
  --secondary-text-color: #fff;
  --primary-hover-color: #374151;
  --transition: all 0.3s ease
}

.paginationContainerClass {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}

.paginationClass {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.buttonClass,
.paginationItemClassBox  {
  padding: 0.5rem 1rem;
  text-align: center;
  cursor: pointer;
  transition: var(--transition);
  background-color: var(--primary-bg-color);
  color: var(--secondary-text-color);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.paginationItemClass,
.breakLabelClass {
  display: flex;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  align-items: center;
  cursor: pointer;
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.breakLabelClass {
  background-color: transparent;
}

.paginationItemClass:hover,
.paginationItemClassBox:hover {
  background-color: var(--primary-hover-color);
  color: var(--secondary-text-color)
}



.activeClass {
  background-color: var(--primary-hover-color);
  color: var(--secondary-text-color);
}

.disabledClass {
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
  cursor: not-allowed;
}

.paginationInfoClass {
  font-size: 0.9rem;
  color: var(--primary-hover-color);
}

.buttonClass:hover,
.buttonClassBox:hover {
  background-color: var(--primary-hover-color);
  color: var(--secondary-text-color)
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .paginationContainerClass {
      flex-direction: column;
      gap: 0.5rem;
  }

  .paginationClass {
      gap: 0.3rem;
  }

  .buttonClass,
  .paginationItemClass,
  .breakLabelClass {
      padding: 0.4rem 0.8rem;
      font-size: 0.8rem;
  }

  .paginationInfoClass {
      font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .paginationContainerClass {
      flex-direction: column;
      gap: 0.5rem;
  }

  .paginationClass {
      flex-wrap: wrap;
      gap: 0.2rem;
  }

  .buttonClass {
      height: 1.5rem;
      font-size: 0.7rem;
  }

  .paginationItemClass,
  .breakLabelClass {
      width: 1.5rem;
      height: 1.5rem;
      font-size: 0.7rem;
      padding: 0.3rem;
  }

  .paginationInfoClass {
      font-size: 0.75rem;
  }
}